# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Root folder
[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
# Trailing whitespace has a desired effect for newlines in Markdown documents. It should be assumed that whitespace left in the file is deliberate.
trim_trailing_whitespace = false

[{npm-shrinkwrap.json,package.json}]
indent_style = space
indent_size = 2
